body {
  font-family: Arial;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: white;
  padding: 25px;
  width: 260px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}

button {
  padding: 8px 15px;
  background: teal;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

span {
  color: red;
  font-size: 12px;
  display: block;
}
